h1 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-align: center;
  color: #2a5c94;
  font-size: 25px;
  margin-top: 10rem;
}

.container {
  width: 290px;
  margin-left: auto;
  margin-right: auto;
}
.timer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

span {
  display: block;
}

.field {
  text-align: center;
}

.field:not(:last-child) {
  margin-right: 10px;
}

.value {
  font-size: 30px;
  background-color: #acdceb;
  color: #2a5c94;
  border-radius: 10px;
  margin-bottom: 10px;
}

.label {
  font-size: 20px;
  color: #2a5c94;
}
